/* Add Gradient to name of the role */
.membersGroup-2eiWxl {
	background-color: rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(
		90deg,
		rgba(182, 178, 170, 0.2) 1%,
		rgba(187, 187, 187, 0) 60%
	);
	margin: 10px;
	padding: 13px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

/* server header transparent */
.header-3OsQeK {
	background-color: transparent !important;
	border-color: transparent !important;
}

.communityInfoPill-2Mll66,
.container-2giAcK {
	display: none;
}
